body {
  padding: 20px;
  background-image: url("img/squig.png");
}

#titleName {
  color: turquoise;
  font: helvetica;
  font-size: 72;
}

#main {
  color: turquoise;
  font: helvetica;
  font-size: 36;
}

#divnotes {
  color: turquoise;
  font-size: 16;
}

#clock {
  font-size: 48;
  width: 300px;
  height: 170px;
  background-color: white; 
  text-align: center;
  display: block;
  margin: auto;
}

.post {
  display: inline-block;
  width: 400px;
  height: 600px;
  background-color: white; 
  float: left;
  margin-right: 10px;
  z-index: 1;
}
.notesTitle {
  font-size: 24;
}

